Problem 1: Unique Words in a Sentence

In [8]:

sentence = "python is easy and python is powerful"
words = sentence.lower().split()
unique = set(words)
print(f"Unique words count: {len(unique)}")
print(f"Unique words: {unique}")

Unique words count: 5
Unique words: {'python', 'powerful', 'is', 'easy', 'and'}

Problem 2: Highest Salary from Employee Data

In [9]:
employees = {"Ravi": 75000, "Anita": 68000, "Kiran": 72000}
max_emp = max(employees, key=employees.get)
print(f"Highest Salary: {max_emp} - {employees[max_emp]}")

Highest Salary: Ravi - 75000

Problem 3: Find Maximum and Minimum Values

In [10]:

def max_min(numbers):
    print(f"List: {numbers}")
    print(f"Max: {max(numbers)}")
    print(f"Min: {min(numbers)}")

# Test (manual loop version as per hint)
def max_min_loop(numbers):
    if not numbers:
        return
    max_val, min_val = numbers[0], numbers[0]
    for num in numbers[1:]:
        if num > max_val:
            max_val = num
        if num < min_val:
            min_val = num
    print(f"List: {numbers}")
    print(f"Max: {max_val}")
    print(f"Min: {min_val}")

# Test
numbers = [45, 22, 89, 10, 66]
max_min_loop(numbers)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

Problem 4: Count Products Above a Price Threshold

In [11]:

def count_above_threshold(prices, threshold=1000):
    count = sum(1 for price in prices if price > threshold)
    print(f"Products above {threshold}: {count}")

# Test
prices = [450, 1200, 899, 1500, 300]
count_above_threshold(prices)

Products above 1000: 2

Problem 5: Calculate Attendance Percentage

In [12]:

def attendance_percentage(attendance):
    total_days = len(attendance)
    present_days = attendance.count("P")
    percentage = (present_days / total_days) * 100 if total_days > 0 else 0
    print(f"Attendance Percentage: {percentage}")

# Test
attendance = ["P", "P", "A", "P", "P"]
attendance_percentage(attendance)

Attendance Percentage: 80.0

Problem 6: Remove Duplicate Phone Numbers

In [13]:
def unique_phones(phone_numbers):
    unique = set(phone_numbers)
    print(f"Unique phone numbers: {unique}")

# Test
phone_numbers = [9876543210, 9123456789, 9876543210]
unique_phones(phone_numbers)

Unique phone numbers: {9876543210, 9123456789}

Problem 7: Count Character Frequency

In [14]:
def char_frequency(s):
    freq = {}
    for char in s:
        freq[char] = freq.get(char, 0) + 1
    print(freq)

# Test (assuming input like "python")
char_frequency("python")

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

 Problem 8: Convert List to Tuple

In [15]:
# Problem 8: Convert List to Tuple
def list_to_tuple(lst):
    tup = tuple(lst)
    print(f"Tuple: {tup}")

# Test
list_to_tuple([10, 20, 30])

Tuple: (10, 20, 30)

 Problem 9: Check if a Key Exists in a Dictionary

In [16]:
def check_key(d, key):
    if key in d:
        print("Employee exists")
    else:
        print("Employee does not exist")

# Test (assuming employee dict and key="Ravi")
employees = {"Ravi": 75000}
check_key(employees, "Ravi")

Employee exists

 Problem 10: Calculate Average Marks

In [17]:
def average_marks(marks):
    avg = sum(marks) / len(marks) if marks else 0
    print(f"Average Marks: {avg}")

# Test
marks = [70, 80, 65, 75]  # Example leading to ~72.5
average_marks(marks)

Average Marks: 72.5